.option_answer {
  padding: 1.2rem;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: #f6f7f9;
  transition: ease 0.2s;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: #e8f0fe;
  }

  &.selected {
    border-color: var(--purple-light);
  }

  &.border-success {
    border: 2px solid green;
  }

  &.border-danger {
    border: 2px solid red;
  }
}
