.wrapper {
  padding: 1rem;
  max-width: 98vw;
  font-size: var(--fs-text-primary);
  box-shadow: rgb(0 0 0/12%) 0px 2px 12px;
  min-height: 50px;
  min-width: 230px;
  border-radius: 1rem;
  position: relative;
  background-color: #fff;
}
