.wrapper {
    width: 100%;
}

.wrapper-input {
    font-size: 1.6rem;
    font-weight: 400;
    outline-color: var(--purple-light);
    width: 100%;
    padding: 10px 12px;
    border: 2px solid var(--border-line);
    border-radius: 5px;
    text-align: center;
    background-color: var(--background-color-root);
}

.wrapper-check-answer {
    display: flex;
    justify-content: end;
    position: relative;
    margin-top: 16px;
}

.wrapper-check-answer-btn {
    border-radius: 5px;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.wrapper-check-answer-result {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    margin: 0;
}
