@import "../../../common/tools/Mixin/Mixin.scss";

.wrapper_body {
  @include desktop {
  }
  padding-top: calc(var(--header-height));
  padding-bottom: 5rem;
  background-color: var(--background-color-root);
  .body {
    min-height: 100vh;
  }
}
