.wrapper {
    display: flex;
    gap: 12px;
    padding: 8px;
    border-radius: 6px;
    transition: background-color .2s ease;

    &:hover {
        background-color: var(--primary-admin-bg-color);
    }
}

.wrapper-img {
    flex: 1;
    aspect-ratio: 16 / 9;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
}

.wrapper-info {
    flex: 2;
    min-height: 100%;
    padding: 6px 0 8px;

    .wrapper-title {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
    .wrapper-desc {
        font-size: 15px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
    .wrapper-progress {
        position: relative;
        width: 100%;
        height: 10px;
        border-radius: 100px;
        overflow: hidden;
        background-color: var(--grey-color);
        margin-top: 10px;

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            width: var(--progress);
            background-color: var(--admin-orange-color);
        }
    }
}

